res
res/dialog_prefix_postfix.ui
res/dialog_view_sql.ui
res/form_main_v2.ui
res/form_main.ui
res/res_main.qrc
res/template_icon.pxd
tr
tr/translate-ru_en-1_9.argosmodel
log
log/_log.log
bin
.DS_Store
.idea/.gitignore
.idea/DWH_GenSQL.iml
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__
__pycache__/constants.cpython-311.pyc
__pycache__/dialog_prefix_postfix.cpython-311.pyc
__pycache__/dialog_view_sql.cpython-311.pyc
__pycache__/form_main.cpython-311.pyc
__pycache__/func.cpython-311.pyc
__pycache__/main.cpython-311.pyc
__pycache__/resources.cpython-311.pyc
__pycache__/transliterator.cpython-311.pyc
test.py
img/Thumbs.db
__pycache__/constants.cpython-312.pyc
__pycache__/dialog_prefix_postfix.cpython-312.pyc
__pycache__/dialog_view_sql.cpython-312.pyc
__pycache__/form_main.cpython-312.pyc
__pycache__/func.cpython-312.pyc
__pycache__/resources.cpython-312.pyc
__pycache__/transliterator.cpython-312.pyc
.vscode
.vscode/launch.json
.idea/vcs.xml
